<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <style>
      html {
        font-family: palatino, URW Palladio L, serif; /* 1 */
        -ms-text-size-adjust: 100%; /* 2 */
        -webkit-text-size-adjust: 100%; /* 2 */
        }
      body {
        background-color:#4dc3ff;
        margin: 10px;
        }
      ul {
        list-style-type: none;
        }
    
      .button {
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
        
      .button1 {
        background-color: white; 
        color: black;
        border: 2px solid #48319b;
      }
        
      .button1:hover {
        background-color: #1c2fdb;
        color: white;
      }
       
      .button2 {
        background-color: white; 
        color: black; 
        border: 2px solid #48319b;
      }
        
      .button2:hover {
        background-color: #1c2fdb;
        color: white;
      }
      
    </style>
    <title>Main Page</title>
    </head>
<body>
  <nav class = "button">
    <ul>                           
        <li>
            <a href ="/" class="button1">Home</a>
        </li>
        <br>
        <li>
            <a href ="/games" class="button2">Games</a>
        </li>
    </ul>
              <br>
  </nav>
   <h1>TTRPG Book</h1>
   <br>
   <h3>Table Top Roleplay Game Book</h3>
   <br>
   <p>Tired of not finding a group? Having only a few places to share your memes, jokes, characters or character art? Welcome to TTRPG Book.</p>
   <p>Ttrpg book was built to offer a safe place for people to meet, hang out and talk. It's starting small at level one but I have big, big plans on the build.</p>
</body>
</html>